<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="jasonleaster">

    <!-- Custom CSS -->
    <link href="../../css/simple-sidebar.css"   rel="stylesheet">
    <link href="../../css/login.css"            rel="stylesheet">
    <link href="../../css/simple-sidebar.css"   rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="../../css/bootstrap.min.css"    rel="stylesheet">

    <script src="../../js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../../js/bootstrap.min.js"></script>

</head>
<body>
<div id="wrapper">
    <div id="page-content-wrapper" th:fragment="page_content_user_profile">
        <div class="container-fluid">

            <!-- header 标签-->
            <div id="header">
                <br class="cbt">
                <div id="hlogo">
                    <a href="/">
                        Stack Overflow
                    </a>
                </div>
                <div id="hmenus">
                    <div class="nav mainnavs">
                        <ul>
                            <li><a id="nav-questions" href="/questions">Questions</a></li>
                            <li><a id="nav-jobs" href="/jobs?med=site-ui&amp;ref=jobs-tab">Jobs</a></li>
                            <li><a id="nav-tags" href="/tags">Tags</a></li>
                            <li class="youarehere"><a id="nav-users" href="/users">Users</a></li>
                            <li><a id="nav-badges" href="/help/badges">Badges</a></li>
                        </ul>
                    </div>
                    <div class="nav askquestion">
                        <ul>
                            <li>
                                <a id="nav-askquestion" href="/questions/ask">Ask Question</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">

                    <div class = "row">
                        <div class ="row col-sidebar">
                            <!-- 头像 -->
                            <div id="avatar-card" class="avatar-card">
                                <div class="avatar">
                                    <a href="/users/4663674/jason-leaster">
                                        <div class="gravatar-wrapper-164"><img src="https://lh3.googleusercontent.com/-ymLlT9vJIi0/AAAAAAAAAAI/AAAAAAAAABI/g2OEE09XxSI/photo.jpg?sz=328" alt="" width="164" height="164" class="avatar-user"></div>
                                    </a>
                                </div>
                                <div class="reputation" title="reputation">
                                    1 <span class="label-uppercase">reputation</span>
                                </div>

                                <div class="badges only-0">
                                </div>
                            </div>
                        </div>

                        <div class ="row col-content">
                            <!-- 简要信息-->
                            <div class="user-links">

                                <div class="user-links">
                                    <ul class="list-unstyled">
                                        <li>
                                            <span class="glyphicon glyphicon-user"></span>
                                            Member for <span title="2015-03-12 15:50:54Z">1 year, 3 months</span>
                                        </li>
                                        <li>
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                            0 profile views
                                        </li>
                                        <li>
                                            <span class="glyphicon glyphicon-time"></span>
                                            Last seen <span title="2016-07-03 17:02:11Z" class="relativetime">just now</span>
                                        </li>
                                        <li class="user-header">

                                    <span class="data">
                                        <span class="days-visited" style="cursor: pointer;">
                                            <span id="days-visited">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                                visited 39 days, 1 consecutive
                                            </span>
                                        </span>
                                    </span>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>



            </div>

            <!-- 看够的和想看的书-->
            <div class="sort " id="book">


                <h4 class="title-section">
                    <span class="icon-se"></span> Communities <span>(1)</span>
                </h4>
                <h5>
                    我读 &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·<span class="pl">&nbsp;(<a href="https://book.douban.com/mine?status=do" target="_blank">9本在读</a>&nbsp;·&nbsp;<a href="https://book.douban.com/mine?status=wish" target="_blank">5本想读</a>&nbsp;·&nbsp;<a href="https://book.douban.com/mine?status=collect" target="_blank">32本读过</a>) </span>
                </h5>
                <div class="obssin">
                    <div class="substatus">在读</div>
                    <ul><li class="aob"><a href="https://book.douban.com/subject/25816165/" title="中国生存启示录" target="_blank"><img src="https://img3.doubanio.com/spic/s27206963.jpg" class="climg" alt="中国生存启示录"></a></li>
                        <li class="aob"><a href="https://book.douban.com/subject/3995526/" title="目送" target="_blank"><img src="https://img1.doubanio.com/spic/s3984108.jpg" class="climg" alt="目送"></a></li>
                        <li class="aob"><a href="https://book.douban.com/subject/1096216/" title="C++语言的设计和演化" target="_blank"><img src="https://img3.doubanio.com/spic/s24436633.jpg" class="climg" alt="C++语言的设计和演化"></a></li>
                        <li class="aob"><a href="https://book.douban.com/subject/1110934/" title="STL源码剖析" target="_blank"><img src="https://img3.doubanio.com/spic/s1092076.jpg" class="climg" alt="STL源码剖析"></a></li>
                        <li class="aob"><a href="https://book.douban.com/subject/10455982/" title="什么是数学

What Is Mathematics? An Elementary Approach to Ideas And Methods,Second Edition" target="_blank"><img src="https://img1.doubanio.com/spic/s24977617.jpg" class="climg" alt="什么是数学"></a></li>
                    </ul>
                    <div class="clear"></div></div>


                <div class="obssin">
                    <div class="substatus">想读</div>
                    <ul><li class="aob"><a href="https://book.douban.com/subject/20499536/" title="时代的稻草人" target="_blank"><img src="https://img3.doubanio.com/spic/s24585264.jpg" class="climg" alt="时代的稻草人"></a></li>
                        <li class="aob"><a href="https://book.douban.com/subject/3712932/" title="C/C++中国象棋程序入门与提高" target="_blank"><img src="https://img1.doubanio.com/spic/s3859439.jpg" class="climg" alt="C/C++中国象棋程序入门与提高"></a></li>
                        <li class="aob"><a href="https://book.douban.com/subject/4285631/" title="意识形态起源和影响

Political Ideologies: Their Origins and Impact" target="_blank"><img src="https://img3.doubanio.com/spic/s4172382.jpg" class="climg" alt="意识形态起源和影响"></a></li>
                        <li class="aob"><a href="https://book.douban.com/subject/25920202/" title="泛若不系之舟" target="_blank"><img src="https://img1.doubanio.com/spic/s27324757.jpg" class="climg" alt="泛若不系之舟"></a></li>
                        <li class="aob"><a href="https://book.douban.com/subject/20563189/" title="中国人的焦虑从哪里来" target="_blank"><img src="https://img1.doubanio.com/spic/s24876157.jpg" class="climg" alt="中国人的焦虑从哪里来"></a></li>
                    </ul>
                    <div class="clear"></div></div>



            </div>


        </div>
    </div>
</div>
</body>
</html>