<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <title></title>
    <link href="css/simple-sidebar.css" rel="stylesheet"/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

<div id="page-content-wrapper" th:fragment="search_box">

        <div class="search-box">
            <input class="form-control" type="search" />
            <span class="glyphicon glyphicon-search"></span>
        </div>

</div>

</body>
</html>