<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content="jasonleaster"/>

    <!-- Custom CSS -->

    <link href="/css/simple-sidebar.css" rel="stylesheet"/>
    <link href="/css/shop-homepage.css" rel="stylesheet"/>
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>

    <script src="/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <title>图书信息管理系统</title>
</head>

<body>

<div th:replace="fragments/sidebar/sidebar :: sidebar_for_manager"></div>
<div id="page-content-wrapper">
    <div class="container">

        <div th:if = "${not #lists.isEmpty(users)}">
            <div th:each="user : ${users}">
                <form class="register-form" action="/users/modify/update/" method="post">
                    <input type="text"      placeholder="name"                  name ="username"  th:value="user.username != null ? ${user.username}"/>
                    <input type="text"      placeholder="email address"         name = "email"    th:value="user.email    != null ? ${user.email}"/>
                    <input type="password"  placeholder="password"              name = "password" th:value="user.password != null ? ${user.password}"/>
                    <input type="password"  placeholder="confirm your password" name="confirmedPassword" th:value="user.password != null ? ${user.password}"/>
                    <button>Modify</button>
                    <p>Already registered? <a href="/Login">Sign In</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>